Source: ktp-text-ui
Section: kde
Priority: optional
Maintainer: Debian KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
Uploaders: Diane Trout <diane@ghic.org>,
           Michał Zając <quintasan@kubuntu.org>,
           Mark Purcell <msp@debian.org>
Build-Depends: cmake (>= 2.8.12~),
               debhelper (>= 9),
               extra-cmake-modules (>= 1.3.0~),
               kdelibs5-dev (>= 4:4.6),
               kio-dev,
               libkf5archive-dev,
               libkf5emoticons-dev,
               libkf5i18n-dev,
               libkf5iconthemes-dev,
               libkf5itemviews-dev,
               libkf5kcmutils-dev,
               libkf5notifications-dev,
               libkf5notifyconfig-dev,
               libkf5service-dev,
               libkf5sonnet-dev,
               libkf5textwidgets-dev,
               libkf5webkit-dev,
               libkf5widgetsaddons-dev,
               libkf5windowsystem-dev,
               libkf5xmlgui-dev,
               libktp-dev,
               libktpcommoninternalsprivate-dev (>= 0.8.80),
               libqjson-dev,
               libqt5webkit5-dev,
               libqtwebkit-dev,
               libtelepathy-logger-dev,
               libtelepathy-logger-qt4-dev (>= 0.8.0),
               libtelepathy-qt4-dev (>= 0.9.5),
               pkg-kde-tools (>= 0.9)
Standards-Version: 3.9.5
Homepage: https://projects.kde.org/projects/extragear/network/telepathy/ktp-text-ui
Vcs-Git: git://anonscm.debian.org/pkg-kde/kde-extras/kde-telepathy/ktp-text-ui.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-kde/kde-extras/kde-telepathy/ktp-text-ui.git

Package: kde-telepathy-text-ui
Architecture: any
Depends: kde-telepathy-data (>= ${source:Upstream-Version}),
         libjs-jquery (>= 1.7),
         libjs-scriptaculous (>= 1.8.2),
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: kde-telepathy
Replaces: libktpchat0
Description: Telepathy text chat UI for the KDE Plasma Desktop
 This package provides a telepathy handler for text channels, a program
 that in other words allows you to chat with your contacts using instant
 text messages.
 .
 In addition, this package also provides a UI for viewing telepathy
 text chat logs.
 .
 This package is not meant to be used standalone. It is recommended
 to install the kde-telepathy metapackage instead.

Package: kde-telepathy-text-ui-dbg
Architecture: any
Section: debug
Priority: extra
Depends: kde-telepathy-text-ui (= ${binary:Version}), ${misc:Depends}
Description: Telepathy text chat UI for the KDE Plasma Desktop - debug symbols
 This package provides debug symbols for the KDE Telepathy text chat UI.
