#!/usr/bin/make -f

include /usr/share/pkg-kde-tools/qt-kde-team/3/debian-qt-kde.mk

override_dh_strip:
	$(overridden_command) --dbg-package=kde-telepathy-text-ui-dbg

override_dh_install:
	$(overridden_command) --fail-missing
	dh_linktree
